$primary-color: black;
section{font-family: Roboto, sans-serif;}
.co3{
    background-color: $primary-color;
}

#banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  #banner2 {
    position: absolute;
    top: 45rem;
    left: 0;
    right: 0;
    width: 26%;
    height: 30%;
    z-index: -2;
    display: flex;
    flex-direction: column;

    img, form{
      padding: 1.5rem;
    }
    form{
       padding: 1rem;
       background-color: whitesmoke;;
       .box{
         margin-top:10rem;
         background-color:white;
       }
       input, label{
         margin-left: 1.5rem;
         padding: 0.5rem;
       }
    }
  }

  .onbanner{
    margin-top: -17rem;
    height: 27rem;
    width:18rem;
    margin-left: 60%;
    background: white;
    position: absolute;

    img{
      height: 50%;
      width:100%;
   }
}
 
.content{
    width:100%;
    background-color: whitesmoke;
  }

  #banner3 {
    position: absolute;
    top: 10;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .onbanner3{
    color: black;
    background-color: white;
    width: 50%;
  }
.header{
  // position: fixed;
  margin-top: 3rem;
  margin-left: 30rem;
    width: 100%;
    // height: 100%;
    display: flex;
    justify-content: right;
    float: right;
    justify-items: center;
}
.footer{
  background-color: gainsboro;
  padding: 1rem;
  li{
    padding:0.5rem;

  }
}
.nav-items{
    list-style-type: none;
    margin-left:77%;
    display: flex;
    justify-content: space-around;
    float: left;
    width: 20%;
}
h5{
  color: blue;
}
h1{
  padding-top: 30%;
  padding-left: 5%;
  font-size: 5rem;
  font-weight: 13%;
  color: white;
  width: 40%;
}

h2, h3, h5, h4, p{
  padding: 1rem;
}
h4{
  font-size: 1.5rem;
}
.container{
  margin:0;
}


 img{
  width:100%;
  height: 100%;
} 
.form-button{
  padding: 0.5rem;
  margin-top: 1rem;
  margin-left: 20%;
  width: 60%;
  color:white;
  background-color: blue;
}
.icons{
  margin-left: 45%;
  height: 8rem;
  width:8rem;
}
.col1{
  color: white;
  background-color: blue;
  
  h2{
    text-align: center;
    width: 40%;
    margin-left: 30%;
  }
  img{
    width:70%;
  }
}

.col2{
  display: flex;
  padding-top: 2rem; 
   
    img{
      width: 50%;
      height:30rem;
    }
   h2{
     font-weight: 1px;
   }
}

.col3{
  position: relative;
  top: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#quote{
  display: grid;
  grid-template-columns: repeat(2, 1fr );
  margin-top: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.quote{
  padding: 2rem;
}

.f-icons{
  padding: 2rem;
    width: 20%;
    // height: 100%;
    display: flex;
    float: left;
    justify-items: center;
  li{
    list-style-type: none;
    
    display: flex;
    justify-content: space-around;
   
    width: 20%;
  }
}

.bg{
  padding: 2rem;
  background-color: gray
}

.space{
  background-color: whitesmoke;
    height: 10rem;
}

#outerWrap {
  position: relative;
  z-index: 0;
  // background-color: ;
  height: 400px;
  width: 650px;
  }
  
  #layer1 {
  position: absolute;
  z-index: 2;
  // background-color: #6F0;
  height: 50;
  width: 350px;
  top: 40px;
  left: 40%; 
  }
  
   
  
  #layer2 {
  position: relative;
  z-index: 1;
  color: black;
  background-color: white;
  padding-left:10rem;
  padding-right:4rem;  
  height: 90%;
  width: 70%;
  top: 25%;
  left: 60%;
  }
